@tailwind preflight;

@tailwind components;

@tailwind utilities;

a {
    @apply .text-blue-darker;
    text-decoration: none;
} 

@responsive {
    .menu-item {
        @apply .flex .items-center .justify-center; 
        @apply .h-full .w-full .border-l .border-r .whitespace-no-wrap;
    }
}

@responsive {
    .menu-item-link {
        @apply .px-2 .font-medium;
    }
}
@responsive {
    .menu-item-link:hover {
        @apply .px-2 .bg-grey-light;
    }
}

.social-media-container {
    @apply .flex .items-center .pr-2;
}
.social-media-container:last-child {
    @apply .pr-0;
}

.social-media-icon {
    @apply .fill-current .text-blue-darker .w-8 .h-8;
}
.social-media-icon:hover {
    @apply .text-blue;
}

.video-wrapper {
    @apply .relative;
    padding-bottom: 56.25%;
}

.video-frame {
    @apply .absolute .w-full .h-full .pin-t .pin-l
}


.speakers-list {
    @apply .flex .flex-wrap .justify-center;
}

.speaker-card {
    @apply .w-64 .mx-1 .mb-4 .overflow-hidden .flex .flex-col .justify-around .items-center;
}


.speaker-name {
    @apply .text-blue-darker;
}

.speaker-tagline {
    @apply .text-center .text-sm .text-blue-darker; 
}

.speaker-img {
    @apply .mx-2 .my-2;
    width: 128px;
    height: 128px;
    border: 4px solid rgba(17,17,17,0.1);
    border-radius: 50%;
}



.sponsors-list {
    @apply .flex .flex-wrap .justify-around;
}

.sponsor-card {
    @apply .bg-white .p-4 .w-64 .mx-1 .mb-4 .rounded-lg .shadow-md .overflow-hidden .flex .flex-col .justify-around .items-center;
}

.sponsor-description {
    @apply .text-justify .text-blue-darker; 
}

.sponsor-img {
    @apply .mb-2;
}



.workshop-list {
    @apply .flex .flex-col .justify-between .items-center;
}

.workshop-card {
    @apply .bg-white .mx-1 .mb-4 .rounded-lg .shadow-md .overflow-hidden .flex .flex-col .justify-around .items-center;
}

.workshop-content {
    @apply .flex .justify-around .items-center .w-full 
}

.workshop-booking {
    @apply .flex .justify-around .items-center w-full h-8 .bg-grey-light .font-bold
}

.workshop-booking:hover {
    @apply .bg-green-lighter
}

.workshop-profile {
    @apply .flex .flex-col .items-center .flex-no-shrink .mx-2 .my-2;
}

.workshop-details {
    @apply .flex .flex-col .items-center .justify-start .mx-2 .my-2;
}

.workshop-img {
    @apply .speaker-img
}

.workshop-speaker {
    @apply .text-blue-darker;
}

.workshop-title {
    @apply .text-blue-darker;
}

.workshop-description {
    @apply .p-4 .max-w-sm;
}



.speaker-details-card {
    @apply .fixed .bg-white .rounded .overflow-hidden .pt-8 .flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.speaker-details-profile {
    @apply .flex .flex-col .items-center .flex-no-shrink .mx-2 .my-2;
}

.speaker-details-content {
    @apply .flex .flex-col .items-center .justify-start .mb-2 .mx-2;
}

.speaker-details-img {
    @apply .speaker-img
}

.speaker-details-name {
    @apply .text-blue-darker;
}

.speaker-details-tagline {
    @apply .text-blue-darker;
}

.speaker-details-description {
    @apply .p-4 .max-w-sm .text-justify;
}






.action-button {
    transition: all .1s ease-in-out; 
}

.action-button:hover {
    filter: drop-shadow(5px 10px 10px);
    transform: scale(1.1);
}


.button {
    @apply .block .bg-green-lighter .text-blue-darker .font-bold .my-2 .py-2 .px-4 .rounded;
}

.button:hover {
    @apply .text-blue-lighter .bg-green-darker;
}


.loader {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
  }
  .loader:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #2980b9;
    animation: loading 2s linear infinite;
  }
  
  @keyframes loading {
      from {left: -200px; width: 30%;}
      50% {width: 30%;}
      70% {width: 70%;}
      80% { left: 50%;}
      95% {left: 120%;}
      to {left: 100%;}
  }

  
@responsive {
    .absolute-center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@responsive {
    .absolute-right {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }
}
